
      
p {
margin: 0;
}

td,
th,
tr,
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}


td.description,
th.description {
    
    width: 100%;
    
}

td.quantity,
th.quantity {
    
    word-break: break-all;
}

td.price,
th.price {
    
    text-align: right;
    word-break: break-all;
}

.centered {
    margin: 10px 0;
    text-align: left;
    align-content: center;
}

.head-title {
    font-size: 22px;
    text-align: center;
    align-content: center;
}
.sub-head {
    text-align: center;
    align-content: center;
    margin-bottom: 18px;
}

.ticket {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-left: 10px;
}

.ticket img {
    margin-left: -7px;
    max-width: 280px;
    width: 280px;
}

.receipt-id {
    display: flex;
    justify-content: space-between;
}


@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
    .centered {
    margin-bottom: 20px;
    }
    
        
body * {
visibility:hidden;

}
.ticket *{
font-size: 15px;
font-family: 'F25 Bank Printer', sans-serif;
font-weight: 400;
color: #000;
visibility:visible;
}



}

